html {
    background-color: whitesmoke;
}

.card-processor {
    background-color: #AEB6BF;
    float: left;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: black dotted;
    border-radius: 3%;
}

.post-content {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border: 10px;
}

h1 {
    color: crimson;
    text-shadow: 2px 2px black;
}

.authors-pic {
    float: right;
}

