html {
    background-color: whitesmoke;
}

.card-processor {
    background-color: #AEB6BF;
    float: left;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: black dotted;
    border-radius: 3%;
}

.post-content {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border: 10px;
}

h1 {
    color: crimson;
    text-shadow: 2px 2px black;
}

.authors-pic {
    float: right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 21%;
    margin-left: 10px;
    float: left;
  
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;  
    border: 1px dashed black;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .word-counts {
      padding: 15px;
  }

